body {
    font-family: Helvetica;
    margin: auto;
    width: 40%;
    background-color: whitesmoke;
}

ul {
    list-style-image: url("koala-icon.png");
    margin-left: 1.5em;
}

li {
    padding: 0.1em;
}

.koalaFacts{
    background-color: #ccffcc;
    padding: 1em;
    border-style: groove;
    margin-top: 1em;
}

.mainContent {
    margin-top: 25%;
}